/**
 * Stylesheet for the PictoCat extension's "bullet" display style.
 * It also relies on Codex thumbnails, which is imported as part of the resource module.
 */

.pictocat-bullet-style ul {
	list-style: none;
	margin-left: 0;
}

.pictocat-bullet {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	vertical-align: middle;
}

.pictocat-bullet .cdx-thumbnail {
	margin-right: 0.667em;
}
