/**
 * Stylesheet for the PictoCat extension.
 */

.pictocat-bullet-style ul {
	list-style: none;
	margin-left: 0;
}

.pictocat-bullet {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	vertical-align: middle;
}

.pictocat-bullet .cdx-thumbnail {
	margin-right: 0.75em;
}
